{% extends "::base.html.twig" %}

{% block body %}
    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
    <p>{{ 'profile.show.username'|trans }}: {{ app.user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ app.user.email }}</p>
    <p>{{ 'Activé' }}: {{ app.user.enabled ? 'Oui':'Non' }}</p>
    <p>{{ 'Google ID' }}: {{ app.user.googleId }}</p>
    <p>{{ 'Le token' }}: {{ app.user.googleAccessToken }}</p>
    <p>{{ 'Le mot de passe' }}: {{ app.user.password }}</p>
    <p>{{ 'La dernière authentification ' }}: {{ app.user.lastLogin|date('Y-m-d H:i:s')}}</p>
    <p>{{ 'Nombre de connexion' }}: {{ app.user.nbConnection}}</p>
{% endblock %}
